
  .lab_partners_img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
    grid-gap: 10px;

  }
  .lab_partners_img img{
    width: 200px;
    height: 150px;
  }